<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/services.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predict">Crop Prediction</a></li>
                <li><a href="/fertilizer">Fertilizer Recommendation</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="contact" class="contact-info">
            <h2>Contact Information</h2>
            <div class="contact-details">
                <p><strong>Street:</strong> 101, GAA/a, New Navpada Road, Sector 66, Goregaon</p>
                <p><strong>City:</strong> Mumbai</p>
                <p><strong>State/province/area:</strong> Maharashtra</p>
                <p><strong>Phone number:</strong> 07926579287</p>
                <p><strong>Zip code:</strong> 400057</p>
                <p><strong>Country calling code:</strong> +91</p>
                <p><strong>Country:</strong> India</p>
                <p><strong>Email:</strong> info@smartagriml.com</p>
            </div>
        </section>
    </main>
</body>
</html>
